*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    font-family: 'Montserrat', sans-serif;

}


/* Navbar */

#logo{
    width: 5%;
}

.viajes{
    color: #FFFFFF;
}

.navlink{
    color: #FFFFFF;
    text-decoration: none;
    
}

.fotocarousel{
    height: 800px;
}

/* QUIENES SOMOS */

.containercolor{
    background-color: #000000;
}

.titulo{
    font-weight: 400;
    font-size: 1.5rem;
}

.texto{
    font-weight: 100;
}

/* DESTACADOS */

.card2{
    height: 180px;
}

/* CONTACTO */

.inputespacio{
    width: 70rem;
    border-radius: 3px;
    
}

.inputespacio2{
    height: 10rem;
    width: 70rem;
    border-radius: 3px;
}

label{
    font-weight: 100;
}