*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    font-family: 'Montserrat', sans-serif;

}


/* Navbar */

#navbar1{
    position: fixed; 
    top: 0; 
    width: 100%;
    opacity: 1;
    background-color: rgba(73, 184, 173, 0.24);
    
}



#logo{
    width: 5%;
}



.navlink{
    color: #FFFFFF;
    text-decoration: none;
    
}

.fotocarousel{
    height: 950px;
}

/* QUIENES SOMOS */

.containercolor{
    background-color: #000000;
}

.titulo{
    font-weight: 400;
    font-size: 1.5rem;
}

.texto{
    font-weight: 100;
}

/* DESTACADOS */

.card2{
    height: 180px;
}

/* CONTACTO */

.inputespacio{
    width: 100%;
    border-radius: 3px;
    
}

.inputespacio2{
    height: 10rem;
    width: 100%;
    border-radius: 3px;
}

label{
    font-weight: 100;
}

/* FOOTER */


i{
    font-size: 1.2rem;
}

.footerviajes{
    font-weight: 100;
    font-size: 1.3rem;
}

a:hover {   
    opacity: 0.6;
    color: white !important;
    
  }